.about {
  @media screen and (min-width: 377px) {
    padding-top: 22px;
    padding-bottom: 22px;
  }
  @media screen and (min-width: 1280px) {
    padding-top: 110px;
    padding-bottom: 110px;
  }
  &-container {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
    @media screen and (max-width: 767px) {
      max-width: 480px;
    }
    @media screen and (min-width: 768px) {
      width: 768px;
    }
    @media screen and (min-width: 1280px) {
      width: 1280px;
    }
  }
  &-title {
    @extend %text-throw;
    text-transform: uppercase;
    color: $text-color;
    text-align: center;
    @media screen and (max-width: 767px) {
      font-weight: 600;
      font-size: 16px;
      line-height: 1.37;
    }
    @media screen and (min-width: 377px) {
      margin-bottom: 16px;
    }
    @media screen and (min-width: 1280px) {
      margin-bottom: 36px;
    }
  }
  &-list {
    @extend %list-throw;
    &__icon {
      width: 100%;
      display: block;
      @media screen and (max-width: 767px) {
        margin-bottom: 16px;
      }
    }
  }
}
.about-inner__list {
  @extend %list-throw;
  list-style: none;

  @media screen and (max-width: 767px) {
    padding-left: 80px;
  }
}
.about-inner__item {
  @media screen and (max-width: 767px) {
    font-weight: normal;
    font-size: 14px;
    line-height: 1.35;
    color: $text-color;
    &:not(:last-child) {
      margin-bottom: 20px;
    }
  }
}
