.team {
  @media screen and (max-width: 767px) {
    padding-top: 22px;
    padding-bottom: 22px;
  }
  @media screen and (min-width: 768px) {
    padding-top: 22px;
    padding-bottom: 60px;
  }
  @media screen and (min-width: 1280px) {
    padding-top: 110px;
    padding-bottom: 170px;
    border-top: 2px solid $main-color;
  }
  &-container {
    position: relative;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
    @media screen and (max-width: 767px) {
      max-width: 480px;
    }
    @media screen and (min-width: 768px) {
      width: 768px;
    }
    @media screen and (min-width: 1280px) {
      width: 1280px;
    }
  }
  &-list {
    @extend %list-throw;
    display: grid;
    @media screen and (max-width: 767px) {
      grid-template-columns: 1fr;
    }
    @media screen and (min-width: 768px) {
      grid-template-columns: repeat(2, 1fr);
    }
    @media screen and (min-width: 1280px) {
      grid-template-columns: repeat(3, 1fr);
    }

    &__item {
      display: flex;
      align-items: center;
    }
  }
  &-title {
    @extend %text-throw;
    text-transform: uppercase;
    color: $text-color;
    text-align: center;
    line-height: 1.37;
    font-family: $roboto;
    @media screen and (max-width: 767px) {
      font-size: 16px;
      font-weight: 300;
    }
    @media screen and (min-width: 768px) {
      font-size: 22px;
    }
    @media screen and (min-width: 1280px) {
      font-size: 41px;
    }
  }
}
.team-list__photo {
  width: 100%;
  display: block;
}
.alexey {
  @media screen and (max-width: 767px) {
    transform: translateX(15px);
  }
  @media screen and (min-width: 768px) {
    transform: translateY(100px);
  }
  @media screen and (min-width: 1280px) {
    transform: translateY(150px);
  }
}
.nata {
  @media screen and (max-width: 767px) {
    transform: translateX(-30px);
  }
}
.nikita {
  @media screen and (max-width: 767px) {
    transform: translateX(15px);
  }
  @media screen and (min-width: 768px) {
    transform: translateY(100px);
  }
}
.andrey {
  @media screen and (max-width: 767px) {
    transform: translateX(-25px);
  }
  @media screen and (min-width: 1280px) {
    transform: translateY(160px);
  }
}
.oleks {
  @media screen and (max-width: 767px) {
    transform: translateX(15px);
  }
  @media screen and (min-width: 768px) {
    transform: translateY(60px);
  }
}
.team-smile__icon {
  position: absolute;

  @media screen and (max-width: 767px) {
    display: none;
  }
  @media screen and (min-width: 768px) {
    top: 10%;
    left: 45%;
  }
  @media screen and (min-width: 1280px) {
    width: 143px;
    height: 140px;
    top: 10%;
    left: 55%;
  }
}
// .team-arrow__icon {
//   position: absolute;
//   @media screen and (max-width: 767px) {
//     display: none;
//   }
//   @media screen and (min-width: 768px) {
//     top: 65%;
//     left: 40%;
//   }
//   @media screen and (min-width: 1280px) {
//     left: 85%;
//     top: 104%;
//   }
// }
.team-big__title {
  @extend %text-throw;
  pointer-events: none;
  display: inline-block;
  height: 60px;
  line-height: 1.35;
  font-weight: 700;
  opacity: 0.1;
  color: $text-color;
  text-transform: uppercase;
  position: absolute;
  text-align: center;
  top: -20px;
  left: 0;
  right: 0;
  bottom: 0;

  @media screen and (max-width: 767px) {
    font-size: 21px;
    height: 30px;
  }
  @media screen and (min-width: 768px) {
    font-size: 37px;
    top: -30px;
  }
  @media screen and (min-width: 1280px) {
    font-size: 57px;
    top: -35px;
  }
}
.team-list__link {
  transition: transform $animation-timing;
  @media screen and (min-width: 768px) {
    &:hover,
    &:focus {
      transform: scale(1.1);
    }
  }
}
