<section class="about">
    <div class="about-container">
        <h2 class="about-title">Мы любим и умеем работать с разными проектами на всех этапах:</h2>
        <ul class="about-list">
            <li class="about-list__item">
                <img class="about-list__icon" src="./images/icons/adv2.svg" alt="Фото услуг">
            </li>
            <li class="about-list__item">
                <ul class="about-inner__list">
                    <li class="about-inner__item">- разработка сайта</li>
                    <li class="about-inner__item">- интеграция с внешними системами</li>
                    <li class="about-inner__item">- оптимизация и привлечение клиентов</li>
                    <li class="about-inner__item">- создание контента</li>
                    <li class="about-inner__item">- аналитика и поиск новых точек роста</li>
                </ul>
            </li>
        </ul>
        <p class="about-info">Мы помогаем наладить коммуникации с потребителями в интернете как проектам, которые находятся на стадии разработки идеи,
        так и тем, кто в поисках дополнительных инструментов для повышения эффективности работы проекта.
</p>
        <p class="about-adv">Комплексный подход к продвижению бизнеса в сети</p>
    </div>
</section>