<footer id='footer' class="footer">
    <div class="footer-container">
        <img class="footer-destop__logo" src="./images/icons/raskachaemCom.svg" alt="Логотип">
        <img class="footer-logo" src="./images/icons/rasckachaemTEXTLESS.svg" alt="Логотип">
        <h3 class="footer-info">Мы предлагаем то, что подходит именно вашему бизнесу и обеспечивает достижения целей, будь то увеличение конверсии
        посещений в последующее плодотворное сотрудничество или повышение доверия к ресурсу как со стороны поисковых систем, так
        и со стороны потенциальных бизнес партнеров.</h3>
        <img class="footer-mobile__logo" src="./images/icons/raskachaem.svg" alt="Иконка логотипа">
        <ul class="footer-list">
            <li class="footer-list__item"><a class="footer-list__link" href="">
                <img src="./images/icons/facebook.svg" alt="Иконка фейсбука">
            </a></li>
            <li class="footer-list__item"><a class="footer-list__link" href="">
                <img src="./images/icons/instagram.svg" alt="Иконка инстаграмма">
            </a></li>
            <li class="footer-list__item"><a class="footer-list__link" href="">
                <img src="./images/icons/vk.svg" alt="Иконка вконтакте">
            </a></li>
        </ul>
    </div>
</footer>