<form class="form_radio js-form">
    <input id="radio-1" type="radio" name="radio" value="1" checked>
    <label for="radio-1"></label>
    <input id="radio-2" type="radio" name="radio" value="2">
    <label for="radio-2"></label>
    <input id="radio-3" type="radio" name="radio" value="3">
    <label for="radio-3"></label>
    <input id="radio-4" type="radio" name="radio" value="4">
    <label for="radio-4"></label>
    <input id="radio-5" type="radio" name="radio" value="5">
    <label for="radio-5"></label>
    <input id="radio-6" type="radio" name="radio" value="6">
    <label for="radio-6"></label>
</form>
<img class="arrow-top" src="./images/icons/arrowRed.svg" alt="Иконка стрелки вверх">
<header class="header js-header">
    <div class="header-container">         
        <div class="header-inner__container">
            <div class="header-logo__container">
                <img class="header-logo" src="./images/icons/raskachaemCom.svg" alt="Лого">
                <svg class="header-logo__menu js-menu" alt="Переключатель меню">
                    <use href="./images/symbol-defs.svg#icon-menu"></use>
                </svg>
            </div>
            <nav class="header-nav js-nav">
                <ul class="header-nav__list">
                    <li class="header-nav__item"><a class="header-nav__link js-about" href="">О нас</a></li>
                    <li class="header-nav__item"><a class="header-nav__link js-services" href="">Услуги</a></li>
                    <li class="header-nav__item"><a class="header-nav__link js-portfolio" href="">Портфолио</a></li>
                    <li class="header-nav__item"><a class="header-nav__link js-plans" href="">Акции</a></li>
                    <li class="header-nav__item"><a class="header-nav__link js-team" href="">Команда</a></li>
            
                </ul>
                <button class="header-nav__button">
                    <img class="header-nav__button__icon js-close" src="./images/icons/iconClose.svg" alt="Кнопка закрытия">
                </button>
                <svg class="header-nav__destop__burger" alt="Переключатель меню">
                    <use href="./images/symbol-defs.svg#icon-menu"></use>
                </svg>                
            </nav>
        </div>        
        <div class="header-info">            
        <ul class="header-info__list">
            <li class="header-info__item">
                <img class="header-info__logo" src="./images/icons/adv1.svg" alt="Информационный логотип">
            </li>
            <li class="header-info__item aligned">
                <p>Агентство полного цикла, основная задача которого - помочь нашим клиентам найти и занять свою нишу в digital-среде.</p>
                <p>Мы развиваем сайт и бизнес заказчика вместе с ним, работаем со всем поисковым пространством и выводим проект в лидеры
                тематики. Комплексный подход к продвижению бизнеса в сети.
                </p>
            </li>
        </ul>
        <div class="button-container">
            <button class="header-info__button">Начать</button>
            <p class="header-info__button__info">* нажав на эту кнопку Ваш бизнес уже начинает работать лучше</p>
            <p class="header-info__button__slogan">Мы не обещаем, что ты будешь первым, но мы сделаем все, чтобы ты стал вторым!</p>
        </div>
        <p class="header-info__slogan">Мы не обещаем, что ты будешь первым, но мы сделаем все, чтобы ты стал вторым!</p>
        </div>
    </div>
</header>
