<section id="plans" class="plans">
    <div class="plans-container">
        <img class="plans-shop__icon" src="./images/icons/package.svg" alt="Иконка упаковки">
        <img class="plans-percent__icon" src="./images/icons/25perc.svg" alt="Иконка скидки">
        <div class="plans-info">
        <img class="plans-info__icon" src="./images/icons/percent.svg" alt="Иконка скидки">
        <div class="plans-text__container">
            <h2 class="plans-title">Акциииииииии!</h2>
            <p class="plans-text">*так как наш проект только стартовал, вы имеете возможность стать нашими первыми клиентами</p>
        </div>
        </div>
        <div id="slider" class="splide">
            <div class="splide__track">
                <ul class="splide__list">
                    <li class="splide__slide plans-item">
                        <h3 class="plans-title__info">Старт</h3>
                        <ul class="plans-list">
                            <li class="plans-list__item">Разработка cайтов</li>
                            <li class="plans-list__item">Дизайн</li>
                            <li class="plans-list__item">Маркетинг</li>
                            <li class="plans-list__item">Аудиты</li>
                            <li class="plans-list__item">Техническая поддержка</li>
                        </ul>
                        <button class="plans-button">Заказать</button>
                        <img class="plans-item__icon" src="./images/icons/manFly1.svg" alt="Иконка парня с ракетой">
                    </li>
                    <li class="splide__slide plans-item">
                        <h3 class="plans-title__info">Бизнес</h3>
                        <ul class="plans-list">
                            <li class="plans-list__item">Разработка cайтов</li>
                            <li class="plans-list__item">Дизайн</li>
                            <li class="plans-list__item">Маркетинг</li>
                            <li class="plans-list__item">Аудиты</li>
                            <li class="plans-list__item">Техническая поддержка</li>
                        </ul>
                        <button class="plans-button">Заказать</button>
                        <img class="plans-item__icon" src="./images/icons/manFly2.svg" alt="Иконка парня с ракетой">
                    </li>
                    <li class="splide__slide plans-item">
                        <h3 class="plans-title__info">Корпорейт</h3>
                        <ul class="plans-list">
                            <li class="plans-list__item">Разработка cайтов</li>
                            <li class="plans-list__item">Дизайн</li>
                            <li class="plans-list__item">Маркетинг</li>
                            <li class="plans-list__item">Аудиты</li>
                            <li class="plans-list__item">Техническая поддержка</li>
                        </ul>
                        <button class="plans-button">Заказать</button>
                        <img class="plans-item__icon is-positioned" src="./images/icons/manFly5.svg" alt="Иконка парня с ракетой">
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>