<section class="backdrop is-hided">
    <div class="backdrop-inner">
        <img class="backdrop-icon__close" src="./images/icons/iconClose.svg" alt="Кнопка закрытия модалки">
        <h2 class="backdrop-title">Оставить заявку</h2>
        <form class="backdrop-form" action="">
        <input class="backdrop-input" placeholder="Введите адрес сайта" type="text">
        <input class="backdrop-input" placeholder="Введите ваш e-mail" type="text">
        <input class="backdrop-input" placeholder="Введите номер телефона" type="text">
        </form>
        <button class="backdrop-button">Заказать</button>
    </div>
</section>