<section id="portfolio" class="portfolio">
    <div class="portfolio-container">
        <img class="portfolio-mouse__icon" src="./images/icons/mouse.svg" alt="Иконка ПК мыши">
        <img class="portfolio-ok__icon" src="./images/icons/ok.svg" alt="Иконка успешного выполнения">
        <h2 class="portfolio-title">Примеры наших работ</h2>
        <h3 class="portfolio-info">Портфолио - свежие кейсы</h3>
        <div class="splide portfolio-work__container">
            <div class="splide__track">
                <ul class="splide__list">
                    <li class="splide__slide"><img class="portfolio-work"                        
                        src="./images/projects/proj@3x.png" alt="Пример работы"></li>
                    <li class="splide__slide"><img class="portfolio-work"                        
                        src="./images/projects/proj@3x.png" alt="Пример работы"></li>
                    <li class="splide__slide"><img class="portfolio-work"                        
                        src="./images/projects/proj@3x.png" alt="Пример работы"></li>
                </ul>
            </div>
        </div>        
    </div>
</section>