<section id="services" class="services">
    <div class="services-container">
        <img class="services-heart__icon" src="./images/icons/heartLeft.svg" alt="Иконка сердечка">
        <img class="services-arrows__icon" src="./images/icons/arrows.svg" alt="Иконка стрелок">
        <h2 class="is-hidden">Сервисы нашего проэкта</h2>
        <ul class="services-list">
            <li class="services-list__item plan-item">
                <img class="services-img__inner" src="./images/icons/brief.svg" alt="Иконка плана">
                <ul class="services-list__inner">
                    <li class="services-inner__title">План</li>
                    <li class="services-inner__item">– Постановка задач</li>
                    <li class="services-inner__item">– Планирование сроков</li>
                    <li class="services-inner__item">– Начало работы</li>
                    <li class="services-inner__item">– Аудит</li>
                </ul>
            </li>
            <li class="services-list__item design__item">                
                <ul class="services-list__inner">
                    <li class="services-inner__title">Дизайн</li>
                    <li class="services-inner__item">– Контент план</li>
                    <li class="services-inner__item">– Айдентика Бренда</li>
                    <li class="services-inner__item">– Создание фирменного стиля</li>                    
                </ul>
                <img class="services-img__inner design-img" src="./images/icons/tablet.svg" alt="Иконка планшета">
            </li>
            <li class="services-list__item site-item">
                <img class="services-img__inner repair-img" src="./images/icons/repairKit.svg" alt="Иконка ключа">
                <ul class="services-list__inner">
                    <li class="services-inner__title">Сайт</li>
                    <li class="services-inner__item">– Создание сайта-визитки</li>
                    <li class="services-inner__item">– Наполнение контентом</li>
                    <li class="services-inner__item">– Размещение в сети</li>
                </ul>
            </li>
            <li class="services-list__item marketing-item">
                <img class="services-img__inner marketing-img" src="./images/icons/rupor.svg" alt="Иконка рупора">
                <ul class="services-list__inner ">
                    <li class="services-inner__title">Маркетинг</li>
                    <li class="services-inner__item">– SEO (Поисковая оптимизация)</li>
                    <li class="services-inner__item">– Оптимизация и развитие сайта</li>
                    <li class="services-inner__item">– Работа с социальными сетями бизнеса</li>
                </ul>
            </li>
            <li class="services-list__item support-item">
                <img class="services-img__inner" src="./images/icons/time.svg" alt="Иконка часов">
                <ul class="services-list__inner">
                    <li class="services-inner__title">Поддержка</li>
                    <li class="services-inner__item">– Составление плана перспективы</li>
                    <li class="services-inner__item">– Ведение/обучение SMM</li>
                    <li class="services-inner__item">– Регулярная актуализация</li>
                </ul>
            </li>
        </ul>
    </div>
</section>