<section class="team">
    <div class="team-container">
        <h2 class="team-title">Вы в руках профессионалов</h2>
        <ul class="team-list">
            <li class="team-list__item evgen"><a class="team-list__link" href="">
                <img class="team-list__photo" src="./images/team/evgen@3x.png" alt="Исполнительный директор">
                
                
            </a></li>
            <li class="team-list__item alexey"><a class="team-list__link" href="">
                <img class="team-list__photo" src="./images/team/alexey@3x.png" alt="Креативный директор">
                
                
            </a></li>
            <li class="team-list__item nata"><a class="team-list__link" href="">
                <img class="team-list__photo" src="./images/team/nata@3x.png" alt="PR менеджер">
                
                
            </a></li>
            <li class="team-list__item nikita"><a class="team-list__link" href="">
                <img class="team-list__photo" src="./images/team/nikita@3x.png" alt="SMM">
                
                
            </a></li>
            <li class="team-list__item andrey"><a class="team-list__link" href="">
                <img class="team-list__photo" src="./images/team/andrey@3x.png" alt="Дизайнер">
                
                
            </a></li>
            <li class="team-list__item oleks"><a class="team-list__link" href="">
                <img class="team-list__photo" src="./images/team/oleks@3x.png" alt="Менеджер проэктов">                
                
            </a></li>
        </ul>
    </div>
</section>