<section id="team" class="team">
    <div class="team-container">
        <img class="team-smile__icon" src="./images/icons/smile.svg" alt="Иконка кавычек">
        <img class="team-arrow__icon" src="./images/icons/arrowRed.svg" alt="Красная стрелка">        
        <h2 class="team-title">Вы в руках профессионалов</h2>
        <h3 class="team-big__title">Вы в руках профессионалов</h3>
        <ul class="team-list">
            <li class="team-list__item evgen"><a class="team-list__link" href="https://instagram.com/fudjnn?igshid=12et2fc650yqw">
                <img class="team-list__photo" src="./images/team/evgen@3x.png" alt="Исполнительный директор">
                
                
            </a></li>
            <li class="team-list__item alexey"><a class="team-list__link" href="https://instagram.com/alex_ex233?igshid=1qwbtvmetx4rn">
                <img class="team-list__photo" src="./images/team/alexey@3x.png" alt="Креативный директор">
                
                
            </a></li>
            <li class="team-list__item nata"><a class="team-list__link" href="https://instagram.com/tatka_infomarketing?igshid=16l6a04l2adkv">
                <img class="team-list__photo" src="./images/team/nata@3x.png" alt="PR менеджер">
                
                
            </a></li>
            <li class="team-list__item nikita"><a class="team-list__link" href="https://instagram.com/frajaaaaaaaaa?igshid=sao2njfyw0k6">
                <img class="team-list__photo" src="./images/team/nikita@3x.png" alt="SMM">
                
                
            </a></li>
            <li class="team-list__item andrey"><a class="team-list__link" href="https://instagram.com/andreyadruzh?igshid=1d3g7mkh1vo4j">
                <img class="team-list__photo" src="./images/team/andrey@3x.png" alt="Дизайнер">
                
                
            </a></li>
            <li class="team-list__item oleks"><a class="team-list__link" href="https://instagram.com/alezgut?igshid=1ku810divbgwm">
                <img class="team-list__photo" src="./images/team/oleks@3x.png" alt="Менеджер проэктов">                
                
            </a></li>
        </ul>
    </div>
</section>